*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)) url(Images/library.png);
    position: relative;
    background-position: center;
    background-size: cover;
}
