*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.page{
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(Images/banner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

nav ul li{
    margin: 20px 15px;
    list-style: none;
    cursor: pointer;
}
.navbar nav ul li .nav-arrow{
    width: 10px;
    display: none;
}
.navbar nav ul li:hover .nav-arrow{
    display: block;
}
.navbar nav ul:hover li{
    display: flex;
    justify-content: space-evenly;
    transition: 0.5s;

}
.logo{
    width: 70px;
    margin: 10px 20px;
    cursor: pointer;
}
.navbar{
    background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.5));
    flex-basis: 10%;
  
}
a{
  color: white;
  text-decoration: none;
}
.navbar h2{
    text-align: center;
}
#search{
    padding: 4px 30px;
    margin-top: 10px;
}
.n-content{
    flex-basis: 80%;
    position: absolute;
    right: 8%;
}
.n-content h2{
    padding: 0 100px 20px 20px;
    border-bottom: 2px red solid;
    margin: 20px 0 40px 50px;
    text-shadow: 2px 2px 4px #000;
}
.n-container{
    color: black;
    background-color: aliceblue;
    position: absolute;
    border-top: 3px blue solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 85%;
    height: 75%;
    left: 10%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
}
.row-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 0 180px 0;
    border-bottom: #000 1px solid;
  
}
.row-2{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    padding-bottom: 300px;
    position: relative;
    
}
.r1-col-1{
   position: absolute;
   padding: 0 310px 0 25px ;
   right: 55%;
}
.r1-col-2{
    position: absolute;
    padding: 0 310px 0 25px ;
    right: 5%;
}
.r1-col-3{
    position: absolute;
    padding: 0 360px 0 25px ;
    right: 5%;
}
.space{
    margin: 20px 0 50px 0;
}
.div1{
    padding: 5px 160px 5px 5px;
    
}
.r1-col-1 .t-space{
    position: absolute;
    width: 100%;
    height: 25px;
    border-radius: 2px;
}
.r1-col-2 .t-space{
    position: absolute;
    width: 100%;
    height: 25px;
    border-radius: 2px;
}
.r1-col-2 .t{
    position: absolute;
    width: 100%;
    height: 25px;
    border-radius: 2px;
    cursor: pointer;
}
.r1-col-3 .t-space{
    position: absolute;
    width: 100%;
    height: 25px;
    border-radius: 2px;
}
.n-styled-table,
.styled-table{
    border-collapse: collapse;
    margin: 12px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.n-styled-table thead tr,
.styled-table thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
}
.n-styled-table th,
.n-styled-table td,
.styled-table th,
.styled-table td{
    padding: 20px 38px;
}
.n-styled-table tbody tr,
.styled-table tbody tr{
    border-bottom: 1px solid #ddd;
}
.n-styled-table tbody tr:nth-of-type(even),
.styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.n-styled-table tbody tr .active-row,
.styled-table tbody tr .active-row{
    font-weight: bold;
    color: #009879;
}
.buttons{
    border-top: 1px black solid;
    position: absolute;
    bottom: 2px;
    text-align-last: center;
    width: 100%;
}
button{
    border-radius: 5px;
    padding: 5px 8px;
    margin: 5px;
    cursor: pointer;
}
.date{
    cursor: pointer;
    border-radius: 5px;
}
.n-container h1{
    font-size: 50px;
    text-transform: uppercase;
    position:absolute ;
    bottom: 15%;
    right: 10%;
    color: green;
    text-shadow: 1px 1px 2px #000;
}
.ticketType{
    position: absolute;
    bottom: 100px;
    right: 20px;
}

.t-input{
    width: 100px;
}
.footer{
    position: absolute;
    color: white;
    border: 1px blacksolid;
    bottom : 0%;
    left: 40%;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }     
  .hambuger{
    display: none;
  }

@media only screen and (min-width: 340px) {
    .page{
        height: 180vh;
    }
    .n-container{
        width: 100%;
        height: 130vh;
        left: 5%;
        position: absolute;
        overflow: hidden;
    }
    .row-1{
        padding-bottom: 25em;
        
    }
    .div1{
        padding-right: 160px;
    }
    .row-2{
        padding-bottom: 30em;
    }
    
    .r1-col-1{
        padding: 0 280px 0 25px ;
        position: absolute;
       left: 0.2%;
       margin-right: 4px ;
      
    }
    .r1-col-2{
        padding: 0 280px 0 25px ;
        position: absolute;
        left: 0.2%;
        top: 18%;
    }
    .r1-col-3{
        padding: 0 280px 0 25px ;
        position: absolute;
        left: 0.2%;
        top: 40%;
    }
    .r1-col-3 .t-space{
        width: 80%;
    }
    .r1-col-1 .t-space{
        width: 80%;
    }.r1-col-2 .t-space{
        width: 80%;
    }
    .n-date{
        position: absolute;
        top: 160%;
    }

    .t-input{
        width: 20px;
    }
    .n-container h1{ position: absolute; bottom: 5%;}

   .n-styled-table,
   .styled-table{ min-width: 60px; }

   .n-styled-table th,
   .n-styled-table td,
   .styled-table th,
   .styled-table td{ padding: 20px 23px;}

   .navbar{
    display: block;
    z-index: 2;
    }
    .navbar.active {
        left: 0%;
        }    
        .navbar{
           width: 3%;
        }
        .navbar ul{
           display: block;
           position: fixed;
           left: -100%;
           top: 4rem;
           flex-direction: column;
           background:linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,0.7));
           width: 100%;
           height: 100vh;
           border-radius: 10px;
           text-align: center;
           transition: 0.5s;
           box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
           z-index: 2;
         }
       
         .navbar ul.active {
           left: 0%;
         }
                
       .hambuger {
           display: block;
           cursor: pointer;
         }
       
         .hambuger.active .bar:nth-child(2) {
           opacity: 0;
         }
       
         .hambuger.active .bar:nth-child(1) {
           transform: translateY(8px) rotate(45deg);
         }
       
         .hambuger.active .bar:nth-child(3) {
           transform: translateY(-8px) rotate(-45deg);
         }

}
@media only screen and (min-width: 600px) {
    .page{
        height: 150vh;
    }
    .n-container{
        width: 100%;
        height: 120vh;
        left: 5%;
        position: absolute;
        overflow: hidden;
    }
    .row-1{
        padding-bottom: 25em;
        
    }
    .div1{
        padding-right: 160px;
    }
    .row-2{
        padding-bottom: 30em;
    }
    
    .r1-col-1{
        padding: 0 600px 0 25px ;
        position: absolute;
       left: 0.2%;
       margin-right: 4px ;
      
    }
    .r1-col-2{
        padding: 0 250px 0 25px ;
        position: absolute;
        left: 0.2%;
        top: 18%;
    }
    .r1-col-3{
        padding: 0 300px 0 25px ;
        position: absolute;
        left: 0.2%;
        top: 40%;
    }
    .r1-col-3 .t-space{
        width: 80%;
    }
    .r1-col-1 .t-space{
        width: 80%;
    }.r1-col-2 .t-space{
        width: 80%;
    }
    .n-date{
        position: absolute;
        top: 160%;
    }

    .t-input{
        width: 80px;
    }
    .n-styled-table,
    .styled-table{
    min-width: 430px;
    }
}
@media only screen and (min-width: 900px) {
    .page{
        height: 100vh;
    }   
    .n-content{
        position: relative;
    }
    
    .n-container{
        width: 100%;
        height: 78vh;
        left: 10%;
        position: absolute;
    }
    
    .r1-col-1{
       padding: 0 180px 0 25px ;
    }
    .r1-col-2{
        padding: 0 180px 0 25px ;
    }
    .r1-col-3{
        padding: 0 240px 0 25px ;
    }

    .t-input{
        width: 30px;
    }
.n-styled-table,
.styled-table{
    min-width: 350px;
}
    .row-1{
        padding: 5px 0 200px 0;
    }
    .row-2{
        padding-bottom: 300px;
    }
    .r1-col-1{
        position: absolute;
        padding: 0 190px 0 25px ;
    }
    .r1-col-2{
        position: absolute;
        padding: 0 310px 0 25px ;
       left: 50%;
       top: 1.4%;
    }
    .div1{
        width: 130px;
    }
    .r1-col-3{
        position: absolute;
        padding: 0 310px 0 25px ;
       left: 50%;
       top: 1.4%;
    }
    .r1-col-3 .t-space{
        width: 100%;
    }
    .r1-col-1 .t-space{
        width: 100%;
    }.r1-col-2 .t-space{
        width: 100%;
    }
    .n-date{
        position: absolute;
        top: 100%;
    }
}

@media only screen and (min-width: 1060px) {
    
    .n-container{
        width: 100%;
        height: 78vh;
        left: 10%;
        position: absolute;
    }
    
    .r1-col-1{
       padding: 0 220px 0 25px ;
    }
    .r1-col-2{
        padding: 0 220px 0 25px ;
    }
    .r1-col-3{
        padding: 0 275px 0 25px ;
    }

    .t-input{
        width: 50px;
    }
}


@media only screen and (min-width: 1850px) {

        .n-container{  width: 98%; left: 5%;}

    .r1-col-1{
       padding: 0 315px 0 25px ;
    }
    .r1-col-2{
        padding: 0 280px 0 25px ;
    }
    .r1-col-3{
        padding: 0 330px 0 25px ;
    }
    .t-input{  
        width: 100px;
    }
    .hambuger{
        display: none;
    }
    .navbar{
        display: block;
    }
}