*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(Images/banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
}
.content_b{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.2)), url(Images/about.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
}
.link1{
    background: rgba(235, 229, 229, 0.36);
    padding-left: 2px;
}
.link5{
    background: rgba(235, 229, 229, 0.36);
    padding-left: 2px;
}
.logo{
    width: 70px;
    margin: 10px 20px;
    cursor: pointer;
}
.row{
    margin-top: 20px;
    position: relative;
    flex-wrap: wrap ;
    display: flex;
    justify-content: space-around;
}
.col-1{
    border: none;
    border-radius: 10px;
    background-color:rgb(109, 196, 16);
}

.col-2{
    border: none;
    border-radius: 10px;
    background-color: rgb(9, 178, 158);
}
.col-3{
    border: none;
    border-radius: 10px;
    background-color: rgb(7, 198, 49);
}
.col-4{
    border: none;
    border-radius: 10px;
    background-color: rgb(6, 172, 108);
}
.col-4row{
    display: flex;
    padding: 10px 10px;
}
.col-4b{
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(53, 9, 43);
}
.col-4brow{
    display: flex;
    padding: 10px 10px;
    margin-bottom: 3em;
    position: relative;
    padding-bottom: 8em;
}
.col-3row{
    display: flex;
    padding: 10px 20px;
}
.col-2row{
    display: flex;
    padding: 15px 20px;
}
.col-1row{
    display: flex;
    padding: 10px 20px;
}
.div-image{
    width: 70px;
    height: 70px;
    margin-left: 15px;
    mix-blend-mode: multiply;
    margin-bottom: 10px;
}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(139, 177, 227), rgb(52, 115, 178));
    position: relative;
    padding-bottom: 20px;
}
.bar p{
    position: absolute;
    right: 3%;
    cursor: pointer;
}
.drop-link{
    display: flex;
    cursor: pointer;
    
}
.drop-link h4{
    text-shadow: 2px 2px 4px #000;
}
.drop-icon:hover .arrow-d{
    display: block;
    
}

nav ul li{
    margin: 20px 15px;
    list-style: none;
    cursor: pointer;
}
.navbar nav ul li .nav-arrow{
    width: 10px;
    display: none;
}
.navbar nav ul li:hover .nav-arrow{
    display: block;
}
.navbar nav ul:hover li{
    display: flex;
    justify-content: space-evenly;
    transition: 0.5s;
}

.navbar{
    background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.5));
    flex-basis: 15%;  
}
.navbar h2{
    text-align: center;
}
#search{
    padding: 4px 30px;
    margin-top: 10px;
}
.container_body h2{
    border-bottom: 2px red solid;
    padding-bottom: 20px;
    text-shadow: 2px 2px 4px black;
}
.container{
    flex: 2;
    position: relative;
}
.container_body{
    margin: 30px 20px 0 20px;
}
.menu-icon{
    width: 50px;
    height: 30px;
}
.menu-l{
    display: flex;
    margin : 5px 0 7px 10px;
    justify-content: space-between;
}
.menu-l .menu-icon{
    margin: 5px 10px 0 3px;
    mix-blend-mode: multiply;
    width: 40px;
    height: 25px;
}
.menu-l a{
    cursor: pointer;
}
.more-info a{
    display: flex;
    background: linear-gradient( rgb(0, 255, 162), rgb(101, 101, 207));
    justify-content:center;
    border-radius: 0 0 10px 10px;
    list-style: none;
    text-decoration: none;
    padding: 5px 0;
}
.more-info img{
    width: 15px;
    mix-blend-mode: multiply;
    
}
.more-info:hover img{
    display: block;
}
.more-info:hover a{
    justify-content:space-evenly;
}
.more-info_b a{
    display: flex;
    background: linear-gradient( rgb(0, 153, 255), rgb(0, 170, 255));
    justify-content:center;
    border-radius: 0 0 10px 10px;
    list-style: none;
    text-decoration: none;
    padding: 5px 0;
}
.more-info_b img{
    width: 15px;
    mix-blend-mode: multiply;
    
}
.more-info_b:hover img{
    display: block;
}
.more-info_b:hover a{
    justify-content:space-evenly;
}
h3{
    margin-top: 10px;
}
.arrow-d{
    width: 15px;
    mix-blend-mode: multiply;
}
.menu-l h2{
    margin-top: 10px;
    text-shadow: 2px 2px 4px #000;
}
.container a{
    text-decoration: none;
    color: black;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.box{
  position: absolute;
  bottom: 0%;
  padding: 10px;
}
.footer{
    position: absolute;
    color: red;
    border: 1px blacksolid;
    bottom: 0%;
    left: 40%;
}
.page{
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(Images/banner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}
nav ul li{
    margin: 20px 15px;
    list-style: none;
    cursor: pointer;
}
.navbar nav ul li .n-nav-arrow{
    width: 10px;
    display: none;
}
.navbar nav ul li:hover .n-nav-arrow{
    display: block;
}
.navbar nav ul:hover li{
    display: flex;
    justify-content: space-evenly;
    transition: 0.5s;

}
.n-logo{
    width: 70px;
    margin: 10px 20px;
    cursor: pointer;
}
.n-navbar{
    background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.5));
    flex-basis: 10%;
  
}
a{
  color: white;
  text-decoration: none;
}
.n-navbar h2{
    text-align: center;
}
#search{
    padding: 4px 30px;
    margin-top: 10px;
}
.n-content{
    flex-basis: 80%;
    position: relative;
}
.n-content h2{
    padding: 0 30px 20px 20px;
    border-bottom: 2px red solid;
    margin: 20px 40px 40px 100px;
    text-shadow: 2px 2px 4px #000;
}
.n-container{
    color: black;
    background-color: aliceblue;
    position: absolute;
    border-top: 3px blue solid;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 75%;
    left: 10%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
}
.n-row-1{
    display: flex;
    justify-content: space-between;
    padding: 5px 0 180px 0;
    border-bottom: #000 1px solid;
  
}
.n-row-2{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-bottom: 300px;
    position: relative;
    
}
.n-r1-col-1{
   position: absolute;
   padding: 0 310px 0 25px ;
}
.n-r1-col-2{
    position: absolute;
    padding: 0 310px 0 25px ;
    right: 5%;
}
.n-r1-col-3{
    position: absolute;
    padding: 0 360px 0 25px ;
    right: 5%;
}
.n-space{
    margin: 20px 0 50px 0;
}
.n-div1{
    padding: 5px;
}
.n-r1-col-1 .t-space{
    position: absolute;
    width: 100%;
    height: 25px;
    border-radius: 2px;
}
.n-r1-col-2 .t-space{
    position: absolute;
    width: 100%;
    height: 25px;
    border-radius: 2px;
}
.n-r1-col-2 .t{
    position: absolute;
    width: 100%;
    height: 25px;
    border-radius: 2px;
    cursor: pointer;
}
.n-r1-col-3 .t-space{
    position: absolute;
    width: 100%;
    height: 25px;
    border-radius: 2px;
}
.n-styled-table{
    border-collapse: collapse;
    margin: 12px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.n-styled-table thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
}
.n-styled-table th,
.n-styled-table td{
    padding: 20px 38px;
}
.n-styled-table tbody tr{
    border-bottom: 1px solid #ddd;
}
.n-styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.n-styled-table tbody tr .active-row{
    font-weight: bold;
    color: #009879;
}
.n-buttons{
    border-top: 1px black solid;
    position: absolute;
    bottom: 2px;
    text-align-last: center;
    width: 100%;
}
button{
    border-radius: 5px;
    padding: 5px 8px;
    margin: 5px;
    cursor: pointer;
}
.n-date{
    cursor: pointer;
    border-radius: 5px;
}
.n-container h1{
    font-size: 50px;
    text-transform: uppercase;
    position:absolute ;
    bottom: 15%;
    right: 10%;
    color: green;
    text-shadow: 1px 1px 2px #000;
}
.n-ticketType{
    position: absolute;
    bottom: 100px;
    right: 20px;
}

.n-t-input{
    width: 100px;
}
